<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Create your own movie plot!</div>
    <div class='detail'>
     <p>Simply enter in a prompt (whatever you want it to be) and press Generate.</p>
     <p>(Plots may not be grammatically correct or coherent!)</p>
     <p>This is a demonstration app :)</p>
    </div>
    <div class='content'>
        <div class = 'input'>
            <input id='enteredText'
                type='text'
                name='enteredText'
                placeholder = 'Prompt'>
        </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Generate</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
